/* div{
     height: 100px;
     background-color: pink;
     width: 100px;
     border-width: 2px;
     border-style:dashed;
     border-color: brown;
     /* border-radius:50% ; 
     padding-left: 25px;
}
h1{
     width: 200px;
     height: 50px;
     background-color: aquamarine;
     border-width:3px;
     border-style: dashed;
     border-color: black;
     text-align: center;

} */
/* div{
     height: 100px;
     width: 100px;
     background-color: green;
     border-radius: 50%;
    
}  */


/* *{
     padding: 0;
     margin: 0;
      color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;

}
button{
     background-color: #f08804;
}
#logo{
     color: #f08804;
     font-size: 25px;
    
}
a{
     margin-right: 30px;
} */
 /* div{
     width: 100px;
     height: 100px;
     margin: 25px;
     padding: 25px;
     display: inline-block;  
     background-color: rgba(255,0,0, 0.5);
 }
#box1{
    background-color: rgba(0,0,255,0.5); 
}

#box2{
     background-color: rgba(0,0,255,0.7); 
 }
 #box3{
     background-color: rgba(0,0,255,0.9); 
 }
 
 */

 /* #box2{
     /* display:none; 
     visibility: hidden;
    
 } */
*{
     margin: 0;
     padding: 0;

}
#navbar{
     background-color: #0f1111;
     color: white;
     height: 60px;

}
a{
     text-decoration: none;
     color: white;
     margin-left:200px;

}
#logo{
     margin-left: 2px;
     font-size: 25px;
     color:#f08804;
}
input{
     margin-left: 160px;
}


.contentbox{
     height: 100px;
     width: 100px;
     border: 2px solid black;
     display: inline-block;
}
#content{
     height: 600px;
}
footer{
     background-color:#0f1111 ;
     color: white;
     text-align: center;
}

