/* h1{
     color: green;
}
h2{
     color: brown;
}
body{
      background-color:rgb(191,34,115); 
     background-color: #5D5E60;
}
button{
     color:rosybrown;
     background-color:white;
} */

/* *{
     color: blue;
}
h1{
     color: green;
}
button{
     color: brown;
}
#heading1{
     color: yellow;
}
.myclass{
     color: magenta;
} */
 /* #box{
     background-color: blue;
     
  */
 /* p{
     text-align: center;

 }
 h1{
     text-align: center;
     text-decoration:yellow wavy underline;
     /* text-decoration:overline ; */
     /* text-decoration:line-through ; */
 /* }
 a{
     text-decoration: underline;
 }
 #h1{
     font-weight: 100;
 }
 
 #h2{
     font-weight: 300;
 }
 #h3{
     font-weight: 100;
 }
 p{ */
     /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 } */
  #h1{
     /* font-size:200px ; */
     line-height: 50px;
     /* text-transform: uppercase; */
     text-transform: capitalize;
  }
  #h2{
     font-size:300px ;
  }
