 div{
     height: 100px;
     width:50px;
     display: inline-block;
     border: 2px solid black;
}
#container{
     width: 700px;
     height: 300px;
     display: flex;
     flex-direction: row;/*(row,row-reverse,column,column-reverse)*/
     justify-content:center;/*(flex-start,flex-end,center,space around,space-between,space-evenly)*/
     /* flex-wrap: wrap;(wrap-reverse) */
      align-items: flex-start;/*(flex-start,flex-end,center)*/
     /* align-content: flex-start;(flex-start,flex-end) */

}
#box1{
     background-color: green;
    flex-grow: 1;
}
#box2{
     background-color:red;
     height:200px ;
/* align-self: flex-end;alignment of individual along the cross axis */
   /* flex-shrink: 0.5;   */
   flex-grow: 3;
}
#box3{
     background-color:blue;
     height: 75px;
    
}
#box4{
     background-color: aqua;
    
}
#box5{
     background-color: yellow;
     /* align-self: flex-end; */
    
} 
